<%= form_tag url, method: :get, class: "flex items-center gap-3" do %>
  <div>
    <select name="month" class="rounded-lg border-stone-300 text-sm focus:ring-kula-600 focus:border-kula-600">
      <% (1..12).each do |m| %>
        <option value="<%= m %>" <%= m == selected_month ? "selected" : "" %>><%= Date::MONTHNAMES[m] %></option>
      <% end %>
    </select>
  </div>
  <div>
    <select name="year" class="rounded-lg border-stone-300 text-sm focus:ring-kula-600 focus:border-kula-600">
      <% ((Date.current.year - 2)..Date.current.year).each do |y| %>
        <option value="<%= y %>" <%= y == selected_year ? "selected" : "" %>><%= y %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="inline-flex items-center btn btn-primary">
    Generate
  </button>
<% end %>
