<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Employee Portal - Kula HR" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-50">
    <%= render "shared/flash" %>
    <%= render "shared/employee_portal_sidebar" %>

    <div class="ml-64">
      <%= render "shared/admin_topbar" %>
      <main class="p-6">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
