<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Kula HR" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <meta name="view-transition" content="same-origin">    <%= csp_meta_tag %>
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="icon" type="image/png" sizes="192x192" href="/icon-192.png">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= render "shared/fonts" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-white antialiased">
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
